.container-1 {
    border-bottom: 1px solid #088179;
    display: flex;
    background-color: #e9f6eb;
    
  }
.container-1 .left{
  flex: 3;
  display: flex;
}
  .container-1 .left p{
    margin: 10px;
  }
  .container-1 .center{
    flex: 7;
    text-align: center;
  }
  
  
  .container-1 .right{
    flex: 2;
  text-align: right;
  }
  
  .container-2{
    border: none;
    display: flex;
    align-items: center;}
.container-2 div img{
    width: 100px;
    
    
}
.container-2 nav{
  flex:3;
  

}
.container-2 ul{
  display: flex;
  list-style: none;
  
  
}


.container-2 li a{
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: flex;
  padding: 25px;
  
}
.container-2{
 
  margin-right: 20px;
}
.container-2 form input{
  width: 350px;
  padding: 10px;
 justify-content: center;
 

  
}
.div-like{
margin: -8px;
}
#like{
 width: 30px;
 margin: 30px;
 display: flex;

    
}
#cart{
  width: 30px;
  margin-right: 50px;
  padding-left: 5px;
  display: flex;
}
.home-compare{
    text-decoration: none;
    color: black;
    background-color:rgb(230, 230, 230);
    border-bottom: 1px solid;
    line-height: 60px;
    padding-left: 88px;
}
.home{
    text-decoration: none;
    color: black;
}
.greater{
    padding: 17px;
}
.compare {
  color: var(--main-color);
 }
.compare-section {
    padding-top: 3rem;
    padding-bottom: 1rem;
      
   .compare-table {
            width: 100%;
          border-collapse: collapse;
          text-align: center;
      
          tr :is(th, td) {
            border: 2px solid var(--border-color);
            padding: 0.5rem;
          }
        }
}
      
.compare-table tr td img{
    width: 100%;
}

.compare-table tr td .pant-compare{
    
    height:495px;
}
.compare-table .description {
    font-size: 1rem;
}
.compare-table .colors td div {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.2rem;
    text-align: center;
      
    &:nth-child(1) {
        background: orange;
    }
      
    &:nth-child(2) {
        background: red;
    }
      
    &:nth-child(3) {
        background: yellow;
    }
}
      
      .compare-table .stock td {
        color: var(--main-color);
      }
      
      .compare-table .buy td button {
        padding: 0.5rem 1.5rem;
        
          height: 2.7rem;
          border: 1px solid #088179;
          background: #088179;
          border-radius: 0.3rem;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        
          &:hover {
            border: 2px solid #088179;
            background: #fff;
            color: #088179;
            font-weight: bold;
          }
        
      }
    
      
      
      .compare-table .remove td i:hover {
        color: red;
        cursor: pointer;
      }
      
  .footer-heading{
    background-color:#adccc5;
    display: grid;
    grid-template-columns:   25% 30% 45%;;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    
  }
  .svg-and-name{
    display: flex;
    align-items: center;
    background-color:  #adccc5;
  }
  .svg-and-name img{
    width: 50px;
  }
  .svg-and-name p{
    padding-left: 12px;
  }
  .fotter-search-bar button{
      width: 83px;
      height: 42px;
      margin-left: -6px;
      background-color: black;
      color: white;
  }
  .fotter-search-bar input{
    width: 285px;
    height: 42px; 
    margin-left: 224px;
  
  }
  .receive{
    margin-left: 117px;
  }
  .logo-1{
    width: 100px;
  }
  .f-item-2{
    display: flex;
    flex-direction: column;
  }
  .f-item-1 .socail-media {
    margin-top: 1rem;
  
  }
  
  .f-container{
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
    padding-left:5px;
  }
  
  .f-container div li{
    margin-top: 1rem;
  }
  .f-item-1,.f-item-2,f-item-3{
    flex:1;
  }
  .choco{
    margin-left: 31px;
  }
  .list{
    margin-left: 18px;
    margin-right:225px;
    padding-left: 0px;
  }
  f-item-4{
    margin-right: 130px;
  }
